@font-face {
  font-family: Giga Sans;
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.cdnfonts.com/s/35992/Locomotype  GigaSansRegular.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Giga Sans', sans-serif;
}



$background_primary: #FFFFFF;
$background_secondary: #F3F3F3;
$text_primary: #2E2E2E;
$text_secondary: #747474;
$input_primary: #EEF1F6;
$button_regular: #F52D30;
$button_disabled: #FB9A99;

$card_border: 10px;
$button-border: 8px;

$h1_font_size: 32px;
$h2_font_size: 24px;
$h3_font_size: 20px;
$regular_font_size: 16px;

$card_padding: 16px;

$card_landscape_width: calc(50% - 5px);

body {
  background-color: $background_secondary;
}

h1 {
  font-size: 32px;
  color: $text_primary;
}

h3 {
  font-size: 20px;
  color: $text_primary;
}

.button {
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: $button-border;
  background: $button_regular;
  margin: 0;
  padding: 0 16px;
  height: 40px;
  width: 100%;
  color: $background_primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch {
  display: flex;
  background-color: $background_secondary;
  border-radius: $button-border;
  border: 1px solid $background_secondary;
  
  .switch_option {
    cursor: pointer;
    font-size: 16px;
    color: $text_primary;
    display: block;
    width: 50%;
    height: 34px;
    text-align: center;
    padding-top: 9px;
  }
}

.dropdown_root {
  display: flex;
  flex-direction: column;
  background-color: $background_secondary;
  border-radius: $button-border;
  position: absolute;
  cursor: default;

  .dropdown_menu {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    padding: 0 10px 7.5px 10px;
    z-index: 5;
  }

  .backdrop {
    position: fixed;
    inset: 0;
    z-index: 4;
  }
}

.dropdown {
  height: 36px;
  padding: 7.5px 10px 7.5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown_container {
  display: flex;
  justify-content: end;
  margin-bottom: -10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (orientation: landscape) {
    flex-direction: row-reverse;
  }
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (orientation: landscape) {
    margin-left: 90px;
    margin-right: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 10px;
  }
}

.layout_centered {
  @media screen and (orientation: landscape) {
    justify-content: center;
  }
}

.navbar {
  background-color: $background_primary;
  width: 100%;
  height: 88px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 34px 8px;
  @media screen and (orientation: landscape) {
    height: 100vh;
    position: fixed;
    justify-content: space-around;
    padding: 8px;
    flex-direction: column;
    width: 80px;
  }

  .navbar_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    @media screen and (orientation: landscape) {
      justify-content: center;
    }

    .navbar_text {
      display: block;
      color: $text_secondary;
      font-size: 13px;
    }

    .active {
      color: $button_regular;
    }
  }
}

.header {
  padding: 10px $card_padding 10px $card_padding;
  border-bottom-left-radius: $card_border;
  border-bottom-right-radius: $card_border;
  background-color: $background_primary;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .header_coupler {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (orientation: landscape) {
    width: 100%;

    .header_coupler {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .button {
      width: 200px;
    }
  }
}

.header_subtext {
  color: $text_secondary;
  display: block;
  margin-top: 10px;
}

.card {
  background-color: $background_primary;
  border-radius: $card_border;
  padding: $card_padding;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (orientation: landscape) {
    width: $card_landscape_width;

    .button {
      margin-top: auto;
    }
  }

  .highlighted {
    display: inline;
    color: $button_regular;
  }

  .subtext {
    margin-top: 5px;
    font-size: 14px;
    color: $text_secondary;
    display: block;
    width: 75%;
  }
}

.long_card {

  .long_coupler{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media screen and (orientation: landscape) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .long_coupler{
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
    }

    .graph_container {
      width: 48%;
    }
  }
}

.card_info {

  margin-top: -11px;
  display: flex;

  h1{
    color: $button_regular;
    font-weight: 800;
  }

  span {
    margin-top: 5px;
    font-size: 14px;
    color: $text_secondary;
    display: block;
    width: 75%;
  }
}

.bordered {
  border-bottom: $background_secondary 2px solid;
  margin-left: -16px;
  margin-right: -16px;
  padding: 0 $card_padding $card_padding $card_padding;
}

.spacer {
  height: 88px;
  @media screen and (orientation: landscape) {
    display: none;
  }
}

.graph_info {
  display: flex;
  flex-direction: column;
  margin-top: -6px;
  margin-bottom: -6px;

  .suptext {
    display: block;
    font-size: 14px;
    color: $text_secondary;
  }

  .statistics {
    display: flex;
    gap: 10px;

    .count {
      margin-bottom: -10px;
      font-size: 32px;
      color: $button_regular;
      text-wrap: nowrap;
      font-weight: 800;
    }

    .sidetext {
      font-size: 14px;
      color: $text_secondary;
    }
  }
}

.schools_table {
  display: flex;
  flex-direction: column;

  .schools_table_header {
    display: flex;
    justify-content: space-between;

    span {
      display: block;
      // width: 50%;
      margin: 6px 4px;
      color: $text_primary;
    }
    .second_header {
      white-space: nowrap;
      text-align: center;
    }
  }

  .table_row {
    border-top: 1px solid $background_secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .coupler {
      height: 40px;
      width: 50%;
      display: flex;
      align-items: center;

      span {
        display: block;
        color: $text_primary;
        font-size: 14px;

      }
    }

    .centered {
      justify-content: center;
      gap: 5px;

      .difference {
        font-size: 10px;
        color: #2DC008;
      }

      .negative {
        color: #F52D30;
      }
    }
  }
}

.preview_container {

  display: flex;
  flex-direction: column;
  gap: 10px;

  .preview_card {
    border-radius: 5px;
    background-color: $background_secondary;

    .preview_segment {
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 16px;

      .preview_header {
        display: block;
        width: 70%;
        font-size: 16px;
        color: $text_primary;
      }

      .preview_statistics {
        display: block;
        font-size: 16px;
        color: $text_secondary;

        .highlighted {
          color: $button_regular;
        }
      }
    }
    

    .first {
      border-bottom: 2px solid #E5E5E5;
    }
  }
}

.pages_chart {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .bar_container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .bar_header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .page_name {
        display: block;
        font-size: 16px;
        color: $text_primary;
      }
      .page_time {
        display: block;
        font-size: 14px;
        color: $text_secondary;
      }
    }

    .bar{
      margin-left: -3px;
      display: flex;
      flex-direction: row;
      height: 6px;
      border-radius: 3px;
      background-color: $background_secondary;

      .bar_filler {
        border-radius: 3px 0 0 3px;
        height: 6px;
        background-color: $button_regular;
      }

      .vertical {
        width: 0px;
        height: 10px;
        border: none;
        border-left: 1px solid $button_regular;
      }
    }

    .percentage {
      display: block;
      margin-left: 7px;
      text-align: right;
      font-size: 10px;
      color: $button_regular;
    }
  }
}






